<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs access to your local network to communicate with Matter devices.</string>
	<key>NordicMatterLocalAppGroup</key>
	<string>group.nordicsemi.nrf.matter.local</string>
	<key>NordicMatterSharedAppGroup</key>
	<string>group.nordicsemi.nrf.matter.shared</string>
	<key>NordicMatterKeychainGroup</key>
	<string>$(AppIdentifierPrefix)nordicsemi.nrf.matter</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_matter._tcp.local</string>
		<string>_matter._tcp</string>
		<string>_matterc._udp</string>
		<string>_matterd._udp</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
</dict>
</plist>
